<ConfirmDialog @ref="dialog" />

@if (Disable)
{
    <Button Color="ButtonColor" Outline="Outline" Disabled="true">@Action</Button>
}
else
{
    <Button @onclick="OnConfirmationAsync"
            Outline="Outline"
            Color="ButtonColor">
        @Action
    </Button>
}

@code {
    private ConfirmDialog dialog = default!;

    //-- Button Options
    [Parameter]
    public EventCallback OnEventCB { get; set; }
    [Parameter]
    public bool Disable { get; set; }
    [Parameter]
    public bool Outline { get; set; }
    [Parameter]
    public ButtonColor ButtonColor { get; set; } = ButtonColor.Danger;

    //-- Dialog Options
    [Parameter]
    public string Action { get; set; } = "Delete";
    [Parameter]
    public string DialogTitle { get; set; } = "";
    [Parameter]
    public string DialogMessage1 { get; set; } = "";
    [Parameter]
    public string DialogMessage2 { get; set; } = "";

    private async Task OnConfirmationAsync()
    {
        var options = new ConfirmDialogOptions
            {
                Size = DialogSize.Large,
                IsVerticallyCentered = true,
                YesButtonText = Action,
                YesButtonColor = ButtonColor,
                NoButtonText = "Cancel",
                NoButtonColor = ButtonColor.Secondary,
                DialogCssClass = "text-start",

            };
        var confirmation = await dialog.ShowAsync(
            title: DialogTitle,
            message1: DialogMessage1,
            message2: DialogMessage2,
            confirmDialogOptions: options);

        if (confirmation)
        {
            await OnEventCB.InvokeAsync();
        }
    }
}