@inherits LayoutComponentBase

<div class="page">
    <main>
        <NavBar />
        <div class="container">
            <br />
            @Body
        </div>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<Preload @rendermode="InteractiveServer" LoadingText="Loading..." />
<Toasts @rendermode="InteractiveServer" Class="p-3" AutoHide="true" Delay="4000" Placement="ToastsPlacement.TopRight" />