@implements IDisposable
@inject NavigationManager NavigationManager

<nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom border-body sticky-top" data-bs-theme="dark">
    <div class="container-fluid">
        <div class="ps-2 pe-4">
            <img src="/asset/zing-light.png" alt="Logo" width="100" draggable="false" (dragstart)="false;" />
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="nav-item">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <Icon Name="IconName.HouseFill" Class="pe-2" /> Home
                </NavLink>
            </div>
            <div class="nav-item">
                <NavLink class="nav-link" href="projects">
                    <Icon Name="IconName.ArchiveFill" Class="pe-2" /> Projects
                </NavLink>
            </div>
            <AuthorizeView Roles="@SD.Role_Admin">
                <div class="nav-item">
                    <div class="dropdown">
                        <button class="nav-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <Icon Name="IconName.Sliders" Class="pe-2" /> System Management
                        </button>
                        <ul class="dropdown-menu">
                            <div class="nav-item mb-2">
                                <NavLink class="nav-link" href="management/users">
                                    <Icon Name="IconName.PeopleFill" Class="pe-2" /> Users
                                </NavLink>
                            </div>
                            <div class="nav-item">
                                <NavLink class="nav-link" href="management/clients">
                                    <Icon Name="IconName.BuildingFill" Class="pe-2" /> Clients
                                </NavLink>
                            </div>
                            @*
                            <div class="nav-item">
                            <NavLink class="nav-link">
                            <Icon Name="IconName.SlashCircle" Class="pe-2" /> Vendors
                            </NavLink>
                            </div>
                            *@
                        </ul>
                    </div>
                </div>
            </AuthorizeView>
            <div class="flex-grow-1" />
            <AuthorizeView>
                <Authorized>
                    <div class="nav-item">
                        <NavLink class="nav-link" href="Account/Manage">
                            <Icon Name="IconName.PersonCircle" Class="pe-2" /> Account
                        </NavLink>
                    </div>
                    <div class="nav-item">
                        <form action="Account/Logout" method="post">
                            <AntiforgeryToken />
                            <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                            <button type="submit" class="nav-link nav-danger">
                                <Icon Name="IconName.BoxArrowRight" Class="pe-2" /> Logout
                            </button>
                        </form>
                    </div>
                </Authorized>
                <NotAuthorized>
                    <div class="nav-item">
                        <NavLink class="nav-link" href="Account/Login">
                            <Icon Name="IconName.BoxArrowInRight" Class="pe-2" /> Login
                        </NavLink>
                    </div>
                </NotAuthorized>
            </AuthorizeView>
        </div>
    </div>
</nav>

@code {
    private string currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}

