.nav-item {
    font-size: 1.05em;
    margin: 0px 5px;
}

    .nav-item ::deep .nav-link {
        color: #d7d7d7;
        background: none;
        border: none;
        border-radius: 4px;
        height: 3.5rem;
        display: flex;
        align-items: center;
        line-height: 3.5rem;
        width: 100%;
        padding: 0px 20px;
    }

    .nav-item ::deep a.active {
        background-color: #f15b2a;
        color: white;
    }

    .nav-item ::deep .nav-link:hover {
        background-color: rgba(255,255,255,0.1);
        color: white;
    }

    .nav-item ::deep .nav-link.nav-danger:hover {
        background-color: rgba(200, 0, 0, 1);
        color: white;
    }

    .nav-item ::deep .nav-link.active:hover {
        background-color: #d94e24;
        color: white; /* Same as active color */
    }

