@inherits LayoutComponentBase
@layout AccountLayout

<div>
    <HeadingTitle Title="ACCOUNT MANAGEMENT"></HeadingTitle>
    <div class="row">
        <div class="col-md-2">
            <ManageNavMenu />
        </div>
        <div class="col-md-10">
            @Body
        </div>
    </div>
</div>
