@page "/"

<PageTitle>Home</PageTitle>
<h1 class="text-center fw-bold">HOME</h1>
<hr />
<Card Class="shadow-sm">
    <CardBody>
        <CardTitle Class="fw-bold m-0">DASHBOARD</CardTitle>
        <hr class="mt-2" />
        Stats
    </CardBody>
</Card>
<br />
<div class="row">
    <div class="col-6">
        <Card Class="shadow-sm">
            <CardBody>
                <CardTitle Class="fw-bold m-0">INBOX</CardTitle>
                <hr class="mt-2" />
                To-dos
            </CardBody>
        </Card>
    </div>
    <div class="col-6">
        <Card Class="shadow-sm">
            <CardBody>
                <CardTitle Class="fw-bold m-0">MY PROJECTS</CardTitle>
                <hr class="mt-2" />
                Latest Projects
            </CardBody>
        </Card>
    </div>
</div>
