@page "/NotFound"

<PageTitle>Page Not found - Zing</PageTitle>

<div class="container d-flex justify-content-center align-items-center h-100">
    <Card Class="shadow w-50">
        <img class="rounded-top" src="/asset/zing-light-motif-banner.png" alt="banner" draggable="false" (dragstart)="false;" />
        <CardBody Class="text-center p-5">
            <CardTitle Class="display-6">PAGE NOT FOUND</CardTitle>
            <CardText Class="fs-5">Sorry, the page you're looking for doesn't exist.</CardText>
            <br />
            <Button Class="w-25" Type="ButtonType.Link" To="" Color="ButtonColor.Primary">Go Home</Button>
        </CardBody>
    </Card>
</div>